# Configuración de IDE
.idea/

# Carpetas de compilación de CMake
cmake-build-debug/
cmake-build-release/
cmake-build-*/

# Archivos temporales
*.o
*.obj
*.exe
*.log
*.cache

# Archivos de CMake generados
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Librerias externas
GLAD/